/*-------------------------------*/
html {
  font-family: 'Sanchez', serif;

}

@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap'); 

* {
font-family: 'Sanchez', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

.heading {
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 40px;
}


/*-------------------------------*/
  .App {
  text-align: center;
} 

* {
  margin:0; padding:0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

 .wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 110px;
  box-sizing: border-box;
  margin-top: 2em; /*centered box*/
  flex-flow: column;
  }
 
   .content_other{
    max-height: 600px;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    }



 /* Nav--------------------------------------------------*/  

 .navbar {
  border-bottom: 3px solid #E7B355;
  background-color: #FFC75F;
  height: 80px;
  display: flex;
  justify-content:start;
  align-items:center;
  width: 100%;
  padding: 0 2%;
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
} 

 .navbar ul{
  display:flex;
  list-style: none;
}

.navbar li{
  margin-left: 40px
}

.navbar a:hover {
  background-color: #6967f7;
  color: #f7bc64;
  }

/* .login_header {
  text-align:right
}    */


.navbar {
  border-bottom: 3px solid #E7B355;
  background-color: #FFC75F;
  height: 80px;
  display: flex;
  justify-content:start;
  align-items:center;
  width: 100%;
  padding: 0 2%;
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
}

/* .nav ul {
  border-bottom: 3px solid #E7B355;
  background-color: #FFC75F;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.nav li {
  float: left;
}

.nav li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #6967f7;
  color: #f7bc64;
}
 */





.login {
  background-color: #FFC75F;
  height: 200px;
  justify-content:start;
  padding: 40px;
}
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/


.login_div {
  height: 200px;
  width: 200px;
  float:left ;
 margin-left: 150px;
 

}

p {
  color: slategrey;
  font-size: 15px;
}

.translation {
  background-color: #FFC75F;
  
  top: 0;
  left: 0;
  width: 100%;
}

.search-form {
  margin: auto;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  width: 650px;
  height: 50px;
  overflow: hidden;
  background-color: #EFEFEF;
  border: 2px solid #bbb7b7;
  border-radius: 20px;
/*   position: absolute;
  top:50%;
  left: 50%; */
}

.search-form input {
  width: 600px;
  height: 40px;
  padding: 40px;
  background-color: #EFEFEF;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.search-form input::placeholder{
  color: #969696;

}

.search-form button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  border: none;
  background-color: #845EC2;
  cursor: pointer;
} 

/* .search-form button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    border: none;
    background: #845EC2;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
} */

.search-form button::after {
  width: 15px;
  height: 15px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E'); 
  background-repeat: no-repeat;
  content: '';
}

.center_box{
height: 200px;
width: 300px;
position: absolute;
left: 50%;
top: 50%;
margin-top: -100px;
margin-left: -150px;
background-repeat: no-repeat;
text-align: center;
}

.box {
  width: 800px;
  height: 150px;
  padding: 30px 10px 0px 10px;
  margin: auto;
  background: #FFF;
  /*border: solid 3px #FFF; do noy need*/
  border-radius: 9px;/*角の丸み*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-bottom: solid 20px #845EC2;

}
.box .box-title {
  font-size: 1.2em;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box_t {

  width: 800px;
  height: 100px;
  padding: 2em 1em;
  margin: auto;
}

.content_message{
 padding:1em;
 margin:0.5em auto;
 width: 50%;

}

.content_1{
  padding: 4em;
  margin: 2em auto;
  width: 80%;


}

.content_2{
  padding: 4em;
  margin:6em auto;
  width: 80%;
  height: 150px;
  background: #FFFF;
  /*border: solid 2px rgb(225, 216, 197); do not need*/ 
  border-radius: 9px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-bottom: solid 50px #845EC2;
  
  display: flex;
  align-items: flex-end;
} 
.content_2 div {
  padding: 0;
  margin: 0;
  
}

/* .content_3{
  padding: 4em;
  margin:6em auto;
  width: 70%;
  height: 150px;
  background: #FFFF;

  border-radius: 9px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-top: solid 50px #845EC2;
  display: flex;
  align-items: flex-end;
} 
.content_3 .box-title {
  font-size: 1.2em;
  padding: 15px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.content_3 .box-content {
  padding: 15px 20px;
  margin: 0;
}
 */

 .content_3 {
  padding-top: 0;
  margin:6em 6em;
  background: #FFFF;
  border-radius: 9px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.content_3 .box-title {
  font-size: 1.2em;
  background: #845EC2;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.content_3 .box-content {
  padding: 15px 30px;/*top-bottom*/
  margin: 0;
}

.history_li {
  list-style: none
}


img{
  width: 80px;
  height: 80px;

}


.button_solid a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #e78e22;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
  border-radius: 50px;
  text-decoration: none;
}
.button_solid a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 46%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}